body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

#ui {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  z-index: 10;
  padding: 8px;
  background: rgba(0,0,0,0.4);
  border-radius: 8px;
}

#coords {
  margin-top: 5px;
}
